*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}

/*style for the header section */
.header{
    min-height: 100vh; /*this ensures the background coves the entire viewport height */
    width: 100%;
    background-image: url('images/home-background.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-link{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-image{
    max-width: 100%; /* make the image responsive */
    height: auto; /* maintain aspect ratio */
    margin-right: 10px;
}

.logo-text{
    font-size: 18px;
    font-weight: 1250;
    color: #907859; /*set the text colour */
}

nav{
    display: flex;
    padding: 2% 6;
    justify-content: space-between; 
    align-items: center;
}

nav img{
    width: 140px; 
/*make it responsive - the logo*/
}

.nav-links{ 
    flex: 1; 
    text-align: right;
}

.nav-links ul li{ 
    list-style: none; 
    display: inline-block; 
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #eee0cb;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#e34234; 
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%; 
}

/* style for the text-box */
.text-box{
    width: 90%; 
    color: #eee0cb;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px; 
}

.text-box p{
    margin: 40px 0 80px; 
    font-size: 18px;
    color: #eee0cb;
}

.home-link{
    display: inline-block;
    text-decoration: none;
    color: #eee0cb; 
    border: 1px solid #eee0cb; 
    padding: 12px 34px; 
    font-size: 18px; 
    background: transparent;
    position: relative; 
    cursor: pointer;
}

.home-link:hover{
    border: 1px solid #e34234;
    background: #e34234;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #907859;
        height: 100vh; 
        width: 200px; 
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #eee0cb;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* style for the second section */
.course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: block; /* ensure block-level display */
    clear: both; /* clear floating elements */
    background: #fff8e7;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color:#e34234;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #eee0cb;
    border-radius: 10px;
    margin: 0 2%; /* add margin to the left and right sides */
    margin-bottom: 5%;
    padding: 20px 12px; 
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    color: #e34234;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*campus*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%; /*adjust the width as needed */
    height: 700px; /*set a fixed height for the container */
    cursor: pointer;
}

.campus-col img{
    width: 100%; /* make the image fill the container horizontally */
    height: 100%; /* make the image fill the container vertically */
    object-fit: cover; /* maintain aspect ratio and cover the entire container */
    transition: transform 0.3s ease;
    display: block;
    cursor: pointer;
}

.campus-col:hover img{
    transform: scale(1.1);
}

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center; /* Center the text horizontally */
    color: #eee0cb;
}

.layer h3 {
    font-weight: 500;
    font-size: 26px;
    color: #eee0cb;
}

/* footer section */
.footer{
    width: 100%;
    text-align: center;
    padding: 1px 0;
}

.footer p{
    margin-bottom: 1px;
    margin-top: 1px;
    font-weight: 600;
    color: #907859;
}

.footer{
    color: black;
}

.icons .fa{
    color: black;
    margin: 0 1px;
    cursor: pointer;
    padding: 18px 0;
}

.footer .icons{
    margin-top: 1px;
}

.fa-heart-o{
    color: #e34234;
    margin: 0 1 px;
}

hr{
    border: none;
    border-bottom: 2px solid #907859; /* set the border thickness and color */
    margin: 30px 0;
}

.icons i{
    font-size: 22px;
    color: #907859;
}